<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
</head>
<body>
   <div class="welcome-container">
    <h1 class="welcome-tittle">Welcome</h1>
    <p class="welcome-text">This website contains information collected by sensor located in differente places of the world</p>
    <div class="buttons-container"> 
        <a href="/show_data"><button id="showTableBtn">Show data table</button></a>
        <a href="/average_hd"><button id="showAverageBtn">Show Average Humans Detected</button></a>
        <a href="/max_uhd"><button id="showMinMaxBtn">Show Max Unknown humans detected</button></a>
        <a href="/graph"><button > Graph </button></a>
    </div>
</div>  
   
</body>
</html>